<div class="skj-roll-dialog skj-roll-dialog--other-intent skj-simple-roll-dialog skj-other-intent-dialog">
  <section class="skj-roll-dialog__body skj-simple-roll-dialog__body">
    <label class="skj-simple-roll-dialog__stack">
      <span>{{localize "AOV_SKJALDBORG.IntentDialog.Label"}}</span>
      <textarea
        name="intentText"
        rows="4"
        maxlength="500"
        autofocus
        placeholder="{{localize "AOV_SKJALDBORG.IntentDialog.Placeholder"}}"
      >{{currentText}}</textarea>
    </label>
  </section>
</div>
